# IDE
.idea

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# python
__pycache__
.python-version

# testing
.pytest_cache

# Serverless directories
.serverless

# vendored packages should be installed from requirements.txt
vendored